<div class="item-pedido-card">
    <hr style="border: 0.5px solid #1C0909; margin: 20px 0;">
    <div style="display: inline-flex; text-align: center; width:70%;">
        <div style="display: inline-flex;margin-right: 50px;">
            <div style="padding-left: 50px;margin-top: 10px;">
                <img src="./../../../../assets/trash.png">
            </div>
        </div>
        <div class="itens">
            <div>
                <h3>Produto: {{ nome }}</h3>
            </div>
            <div>
                <h3>Quantidade: {{ quantidade }}</h3>
            </div>
            <div>
                <h3>Subtotal: {{ subtotal }}</h3>
            </div>
        </div>
    </div>
</div>
