.produto-card {

}

.produto-nome {
    color: #000000;
    font-size: 20px;
}

.produto-descricao {
    color: #000000;
    font-size: 20px;

}

.produto-valor-unitario {
    color: #000000;
    font-size: 20px;
}