<div class="menu">
    <div style="padding-left:60px;padding-right:60px;">
        <h4>HOME</h4>
    </div>
    <div style="padding-left:60px;padding-right:60px;">
        <h4>SOBRE</h4>
    </div>
    <div class="circle"></div>
    <div style="padding-left:60px;padding-right:60px;">
        <h4>CONTATO</h4>
    </div>
</div>
<div class="secao0">
    <div class="categorias">
        <div style="padding-left:60px;padding-right:60px;">
            <h3>BEBIDAS</h3>
        </div>
        <div style="padding-left:60px;padding-right:60px;">
            <h3>DOCES</h3>
        </div>
        <div style="padding-left:60px;padding-right:60px;">
            <h3>SALGADOS</h3>
        </div>
    </div>
    <div class="botoes">
        <div class="botao" style="transform: rotate(-90deg);height: 50px;width: 150px;margin-bottom: 120px;margin-left: 0px;">
            <h4 style="color: #FFFFFF;background-color: #281212;">MEU PEDIDO</h4>
        </div>
        <div class="botao" style="transform: rotate(-90deg);height: 50px;width: 150px;margin-bottom: 120px;margin-left: 0px;">
            <h4 style="color: #FFFFFF;background-color: #281212;">FINALIZAR</h4>
        </div>
    </div>
</div>
<div class="produtos">
    <app-produto nome="Cappuccino" descricao="Cappuccino Médio Tradicional"></app-produto>
    <app-produto nome="Iced Matcha Latte" descricao="Iced Matcha Latte com xarofe adocicado"></app-produto>
    <app-produto nome="Pão de Queijo Recheado" descricao="Pão de queijo recheado com requeijão light"></app-produto>
</div>
